<% provide(:title, "About") %>
<article id="about">
  <section id="about_first">
  </section>
  <section>
    <h2>COMPANY</h2>
    <div id="about_table_wrp">
      <table id="about_table">
        <!-- <tr>
          <th>（株）源エンタープライズ</th>
          <td></td>
        </tr> -->
        <tr>
          <th>店名</th>
          <td>Kuraru Caffe（クラルカフェ）</td>
        </tr>
        <tr>
          <th>代表取締役</th>
          <td>東谷朋美</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>&#12306;577-0816&nbsp;大阪府&nbsp;東大阪市友井4-1-4</td>
        </tr>
        <tr>
          <th>電話</th>
          <td>06-7713-0045</td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td>9時30分～18時00分（日・月曜日は定休日です）</td>
        </tr>
        <tr>
          <th>会社設立日</th>
          <td>2017年4月24日</td>
        </tr>
      </table>
    </div>
  </section>
  <section class="access_box">
    <!-- <h2>INFORMATION・ACCESS</h2> -->
    <div>
      <div class="access_info">
        <p class="access_info_bg">住所</p>
        <p class="access_info_txt">〒577-0816 大阪府東大阪市友井4-1-13</p>
      </div>
      <div class="access_info">
        <p class="access_info_bg">電話番号</p>
        <p class="access_info_txt">06-7713-0045</p>
      </div>
      <div class="access_info">
        <p class="access_info_bg">営業時間</p>
        <p class="access_info_txt">9時30分～18時00分</p>
        <p class="access_info_txt">定休日&nbsp;:&nbsp;毎週日・月曜日</p>
      </div>
      <div class="access_info">
        <p class="access_info_bg">最寄駅</p>
        <p class="access_info_txt">JR西日本&nbsp;学研都市線&nbsp;八戸ノ里</p>
      </div>
      <div class="access_info">
        <!-- <p class="access_info_bg">設備・サービス</p> -->
      </div>
    </div>
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.497728895906!2d135.58793509999998!3d34.64213100000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000df6e5bce317d%3A0x388c180d82221f1d!2z44CSNTc3LTA4MTYg5aSn6Ziq5bqc5p2x5aSn6Ziq5biC5Y-L5LqV77yU5LiB55uu77yR4oiS77yR77yT!5e0!3m2!1sja!2sjp!4v1579256651330!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;"></iframe>
    </div>
  </section>
</article>
