<% provide(:title, "About") %>
<article>
  <section id="about_first">

  </section>
  <section>
    <h2>COMPANY</h2>
    
  </section>
  <section>
    <h2>INFORMATION・ACCESS</h2>
  </section>
</article>
