<% provide(:title, "Rental") %>
<article id="rental">
  <section id="rental_first" class="first">
  </section>
  <section>
    <h2>RENTAL</h2>
    <div id="rental_txt">
      <p>クラルカフェの敷地内にはヨガやワークショップに使用できるスペースであるクラルームがあります。</p>
      <p>蔵の時の柱や土壁などをそのまま残っており、日本の古民家の風情を感じることのできる空間です。</p>
      <p>この素敵なクラルームをレンタルスペースとして貸し出ししております。</p>
      <p>イベントスペース、レッスン教室、パーティー会場、ワークショップにもご利用いただけます。</p>
      <p>クラルームのご利用を希望される方は、利用規約に同意の上、下のお問い合わせを押していただいて電話でのお申し込みになります。</p>
      <p>以下の情報を必ずお答えください</p>
      <p>
        ①お名前<br>
        ②ご住所<br>
        ③お電話番号<br>
        ④ご利用の日時と時間帯<br>
        （＊開始時刻は30分刻みでお願いいたします）<br>
        ⑤以下のPDFをコピーしハンコを押した上当日にご提示ください。
      </p>
      <%= link_to "利用規約PDF", "./../../assets/images/利用規約.pdf", target:"_blank", class:"pdf_link" %>
    </div>
    <div id="pdf_wrp">
      <%= image_tag "", alt:"利用規約", class:"pdf" %>
      <%= image_tag "", alt:"利用規約", class:"pdf" %>
    </div>
    <div id="rental_image_wrp">

    </div>
  </section>
</article>
