<% provide(:title, "Rental") %>
<article id="rental">
  <section id="rental_first" class="first">
  </section>
  <section>
    <h2>RENTAL</h2>
    <div id="rental_txt">
      <p>あいあいあいあいあいあいあいあいあいあい<br>あいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあい</p>
      <p>あいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあい</p>
      <p>あいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあい</p>
      <p>あいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあい</p>
      <p>あいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあい</p>
      <p>あいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあい</p>
      <p>あいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあい</p>
      <p>あいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあい</p>
      <p>あいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあい</p>
      <p>あいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあい</p>
      <p>あいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあいあい</p>
      <%= link_to "利用規約PDF", "利用規約.pdf", target:"_blank", class:"pdf_link" %>
    </div>
    <div id="pdf_wrp">
      <%= image_tag "", alt:"利用規約", class:"pdf" %>
      <%= image_tag "", alt:"利用規約", class:"pdf" %>
    </div>
    <div id="rental_image_wrp">

    </div>
  </section>
</article>
