<% provide(:title, @menu.name) %>
<article>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <section>
    <h1><%= @menu.name %></h1>
    <!-- <%= image_tag "#{@menu.image}", :width => '200', :height => '200' %> -->
    <img src="<%= #{@menu.image} %>" alt="">
  </section>
</article>
