<% provide(:title, "Index") %>
<article>
  <section id="index_first">

  </section>
  <section>
    <h2>MORNING&nbsp;MENU</h2>
    <% @morning_menus.each do |mm| %>
      <% if mm.morning_image.attached? %>
        <%= link_to image_tag(mm.morning_image), morning_menu_path(mm) %>
      <% end %>
    <% end %>
  </section>
  <section>
    <h2>LUNCH&nbsp;MENU</h2>
    <% @lunch_menus.each do |lm| %>
      <% if lm.lunch_image.attached? %>
        <%= link_to image_tag(lm.lunch_image), lunch_menu_path(lm) %>
      <% end %>
    <% end %>
  </section>
</article>
