<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>

<p>モーニングメニュー登録</p>
<%= link_to "モーニング", new_morning_menu_path %>

<p>ランチメニュー登録</p>
<%= link_to "ランチ", new_lunch_menu_path %>
