<% if @drink_menu.errors.any? %>
  <p>The form contains <%= pluralize(@drink_menu.errors.count, "error") %></p>
  <p><br></p>
  <ul>
    <% @drink_menu.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
