// タブレット


// スマホ
@media screen and (max-width: 559px) {

}

// PC
@media screen and (min-width: 960px) {

}

#about_first{
  background-image: url('./../images/about_bg.jpg');
  background-size: cover;
  width: 100%;
  height: 550px;
}
