body{
  text-align: center;
}

article{
  background-image: url('./../images/main_bg.jpg');
  background-size: 100% auto;
  background-repeat: repeat-y;
}

h2, p, a, small{
  font-family: 'Lato', sans-serif !important;
}

.container{
  width: 80%;
  margin: 0 auto;
}

section{
  padding: 0 0 50px !important;
  max-width: 1200px;
  > h2{
    font-weight: 400;
    font-size: 34px;
    padding: 50px 0;
    letter-spacing: 2px;
  }
  > p{
    font-weight: 300;
    font-size: 16px;
  }
}

.button_r{
  display: inline-block;
  background-color: white;
  border-width: 2px !important;
  border: solid;
  width: 310px;
  padding: 22px 0;
  transition: 0.2s;
  border-radius: 2px;
  font-size: 18px;
  font-family: 'Noto Sans JP', sans-serif;
  &:hover{
    opacity: 0.8;
    background-color: rgb(30,30,30);
    color: rgb(240,240,240);
  }
}

.button_c{
  display: inline-block;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: white;
  border-width: 2px !important;
  border: solid;
  width: 310px;
  padding: 22px 0;
  transition: 0.2s;
  border-radius: 2px;
  font-size: 18px;
  &:hover{
    opacity: 0.8;
    background-color: rgb(30,30,30);
    color: rgb(240,240,240);
  }
}


// font-family: 'Lato', sans-serif;
// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Open Sans', sans-serif;
