// タブレット
#footer_ul{
  padding-top: 30px;
  >li{
    padding: 10px 0;
    font-size: 12px;
  }
}

#footer_icon{
  width: 50%;
  float: right;
  padding: 180px 0;
}

#footer_calendar{
  width: 50%;
  float: left;
}

#footer_wrp{
  width: 90%;
  margin: 0 auto;
}

// スマホ
@media screen and (max-width: 559px) {
  #footer_ul{
    padding-bottom: 20px;
    >li{
      padding: 20px 15px;
    }
  }

  #footer_icon{
    width: 100%;
    padding: 40px 0 0;
  }

  #footer_calendar{
    width: 100%;
  }

  #footer_wrp{
    width: 98%;
    margin: 0 auto;
  }
}

// PC
@media screen and (min-width: 750px) {

  #footer_ul{
    >li{
      display: inline-block;
      padding: 30px 15px;
      font-size: 16px;
    }
  }

  #footer_icon{
    width: 50%;
    float: right;
    padding: 150px 0;
  }

  #footer_calendar{
    width: 50%;
    float: left;
  }

  #footer_wrp{
    width: 80%;
    margin: 0 auto;
  }
}

footer{
  background-color: rgb(38, 38, 37);
  width: 100%;
  color: white;
  overflow: hidden;
}

#footer_ul{
  >li{
    >a{
      color: white;
      transition: all 0.3s;
      &:hover{
        opacity: 0.8;
      }
    }
  }
}

#footer_icon{
  padding: 15 0px 0;
  >a{
    font-size: 20px;
    color: white;
    padding: 0 20px;
    transition: all 0.3s;
    &:hover{
      opacity: 0.7;
    }
  }
}

footer{
  text-align: center ;
}

#footer_wrp{
  padding: 30px 0;
  overflow: hidden;
}

.calendar-title {
  text-align: center;
}

#footer_calendar{
  >h2{
    padding: 20px 0;
  }
}

.calendar-table {
  margin: 0 auto;
  .is-today {
    color: red !important ;
  }
  th{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
  }
  td{
    width: 50px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 300;
    &:nth-child(1), &:nth-child(2){
      background-color: pink;
      color: black;
    }
  }
}

#pink{
  background-color: pink !important;
}
