// タブレット


// スマホ
@media screen and (max-width: 559px) {

}

// PC
@media screen and (min-width: 960px) {
  header{
    height: 100px;
    line-height: 100px;
  }

  #logo{
    float: left;
    font-size: 40px;
  }

  #header_nav{
    float: right;
  }

  #header_ul{
    >li{
      float: left;
      padding-left: 26px;
      font-size: 13px;
    }
  }
}

header{
  font-family: 'Lato', sans-serif;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  transition: 1s;
}

#header_ul{
  >li{
    letter-spacing: 2px;
    >a{
      transition: 0.2s !important;
      &:hover{
        color: skyblue;
      }
    }
  }
}
