// タブレット

header{
  height: 80px;
  line-height: 80px;
  > div{
    width: 100%;
  }
}

#ham{
  display: none;
}

#logo{
  font-size: 25px;
  float: left;
  padding-left: 30px;
}

#header_nav{
  float: right;
}

#header_ul{
  >li{
    float: left;
    padding: 0 20px 0 0;
    font-size: 13px;
  }
}

// スマホ
@media screen and (max-width: 559px) {

  header{
    height: 70px;
    line-height: 70px;
    > div{
      width: 100%;
    }
  }

  #header_nav{
    display: none;
  }

  #ham, .ham_link{
    display: block;
  }

  #logo{
    font-size: 25px;
    float: left;
    padding-left: 25px;
  }
}

// PC
@media screen and (min-width: 960px) {

  #ham, .ham_link{
    display: none;
  }

  header{
    transition: 1s;
    height: 100px;
    line-height: 100px;
    > div{
      width: 80%;
      margin: 0 auto;
    }
  }

  #logo{
    float: left;
    font-size: 40px;
  }

  #header_nav{
    float: right;
  }

  #header_ul{
    >li{
      float: left;
      padding-left: 26px;
      font-size: 13px;
    }
  }
}

#logo{
  font-family: 'Lato', sans-serif !important;
}

#header_ul{
  >li{
    letter-spacing: 2px;
    >a{
      transition: 0.2s !important;
      font-family: 'Lato', sans-serif !important;
      &:hover{
        color: skyblue;
      }
    }
  }
}

header{
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
}

.ham {
	position: relative;
	width: 70px;
	height: 70px;
  float: right;
	background-color: white;
  &:hover{
    cursor: pointer;
  }
}

.ham_line {
	position: absolute;
	right: 17.5px;
	width: 35px;
	height: 2px;
	background-color: #333333;
  transition: all 0.3s;
}

.ham_line1 {
	top: 17.5px;
}

.ham_line2 {
	top: 31.5px;
}

.ham_line3 {
	top: 45.5px;
}

.clicked .ham_line1 {
	transform: rotate(45deg);
	top: 35px;
}
.clicked .ham_line2 {
	width: 0px;
}
.clicked .ham_line3 {
	transform: rotate(-45deg);
	top: 35px;
}

.ham_menu {
	position: fixed;
	width: 100%;
	height: auto;
  top: -800px;
	background-color: rgba(30, 30, 30, 0.95);
	transition: all 0.3s;
}

.clicked .ham_menu {
	top: 70px;
}

.ham_link{
  color: white;
}
