// タブレット
*{
  background-color: pink;
}

// スマホ
@media screen and (max-width: 559px) {
  *{
    background-color: skyblue;
  }
}

// PC
@media screen and (min-width: 960px) {
  *{
    background-color: yellow;
  }
}
