// タブレット
*{
  background-color: pink;
}

@media screen and (max-width: 559px) { //スマホ
  *{
    background-color: skyblue;
  }
}

@media screen and (min-width: 960px) { //PC
  *{
    background-color: yellow;
  }
}
